*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* Startsida, desktop */
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
}

/* ***************SECTION HEADER ****************/

.header {
  width: 100%;
  margin-top: 7px;
  padding: 0;
  height: 400px;
  position: relative;
}
.language {
  display: flex;
  text-align: center;
  justify-content: flex-end;
  margin-left: -32px;
  height: 16px;
  gap: 10px;
}
@media (max-width: 320px) {
  .header .loga  {
    width: 20px;
    height: 43px;
    margin-left: 10px !important;
}
  .header .loga .title {
    margin-top: 30px;
    font-size: 19px;
  }
}

@media (max-width:425px){
 .header .language{
  display: none;    
}

.header .loga .input {
  width: 300px;
  height: 43px;
  margin-top: 40px;
}
.header{
  margin-top: 0;
  display: flex;
  justify-content: center;
  background-color: transparent;
  height: 170px;
  margin-left: 0;
}

.header .loga{
    width: 100%;
    margin-top: 46px;
  }

 .header .loga .text-span {
    margin-top: -210px ;
    margin-right: 91px;
  }

  .header .loga .title {
    margin-top: 30px;
  }
}
.language span {
  font-family: "IBM Plex Sans";
  font-style: normal;
  /* font-weight: 700; */
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  top: 7px;
}

.language .underline {
  text-decoration: underline;
}

.header .loga {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  margin-top: 46px;
  margin-left: 40px;
}

.loga .title {
  margin-right: 40px;
}

.loga input {
  /* Rectangle 237 */
  width: 400px;
  height: 50px;
  left: 350px;
  top: 46px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 9px 4px 9px 40px;
  background: transparent
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
  no-repeat 13px center;
}

input::placeholder {
  /* Vad söker du? */
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #000000;
  padding: 20px;
}
.loga .text-span {
  /* Varukorg */
  /* position: absolute; */
  width: 48px;
  height: 16px;
  left: calc(50% - 48px / 2 + 651px);
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */
  color: #333333;
  display: flex;
  margin-left: auto;
  margin-right: 130px;
  margin-top: -24px;
  gap: 20px;
}

#lblCartCount {
  padding: 0 5px;
  vertical-align: top;
  margin-left: -45px;
  background: #ff9d69;
}

.badge {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 9px;
  color: #ffffff;
}

.lamps {
  /* Frame 240 */
  list-style: none;
  font-style: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px 10px 0px;
  gap: 40px;
  height: 44px;
  margin-left: 40px;
  width: auto;
  flex-wrap: wrap;
}
@media screen and (max-width: 425px) {
  .lamps {
   display: none;
  }
  .header .pay{
    position: absolute;
    width: 100%;
    height: 36px;
    margin-top: 0px;  
  }
  .pay li:nth-last-child(2) {
    display: none;
  }
  .pay li:nth-last-child(1){
    display: none;
  }
}

/* Frame 2 */
.pay {
  height: 43px;
  background: #ff9d69;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 80px;
}

/*************** SECTION IMAGES **********************/
.images {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;
}
.column {
  display: flex;
  position: relative;
}
.txtover {
  position: relative;
}
.txtover img {
  display: block;
}
.txtover figcaption {
  position: absolute;
  width: 692px;
  height: 156px;
  left: 80px;
  top: 30%;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.39) 100%
  );
}

@media screen and (max-width: 768px) {
  .txtover figcaption {
    width: 50%;
    height: auto;
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (max-width: 425px) {
  .txtover figcaption {
    width: 50%;
    height: auto;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (max-width: 375px) {
  .txtover figcaption {
    width: auto;
    height: auto;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
  }
}

.knapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 35px 13px;
  gap: 10px;
  position: absolute;
  width: 126px;
  height: 48px;
  top: 340px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  left: 80px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.39) 100%
  );
}
@media screen and (max-width: 425px) {
  .knapp {
    display: none;
  }
}
/* when the browser window is 768px wide or less: */
@media screen and (max-width: 768px) {
  .knapp {
    position: absolute;
    width: 126px;
    height: 48px;
    top: 160px;
  }
}
@media screen and (width: 1024px) {
  .knapp  {
    top: 251px;
  }
}

/* styles for images categories */

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px;
  margin-top: 30px;
}

@media only screen and (min-width: 1024px) {
  .columns {
    display: flex;
  }
}

@media (max-width: 768px) {
  .categories {
    flex: max(150px, 100%/3);
  }
  .columns .categories > figcaption {
    top: 80px;
  }
}

@media (max-width: 375px) {
  .categories {
    flex: max(100px, 100%/3);
  }
  .columns .categories > figcaption {
    top: 5px;
    font-size: small;
  }
}
@media (max-width: 425px) {
  .columns .categories > figcaption {
    top: 10px;
    font-size: small;
    margin-left: 20px;
  }
}

.categories {
  position: relative;
}
.categories figcaption {
  /* Ballonger */
  position: absolute;
  width: 102px;
  height: 31px;
  top: 92px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}

/************** SECTION NEWS **************************/
.news {
  margin-top: 30px;
  display: flex;
  width: 100%;
  padding: 17px;
  position: relative;
}

.title {
/* Nyheter */
position: absolute;
width: 106px;
height: 36px;
left: 40px;
top: 10px;
font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 36px;
display: flex;
align-items: center;
color: #000000;
}

.list {
  justify-content: space-between;
  flex-wrap: wrap; 
  background: rgba(0, 0, 0, 0.04);
}

.news.list .news-images > div {
  margin-top: 20px;
  margin-left: 33px;
}

.news-images img{
  display: flex;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.04);
}

@media only screen and (max-width: 1024px) {
  .list .news-images {
    flex: max(200px, 100%/2);
    padding: 2%;
  }
}
@media (max-width: 425px) {
  .list .news-images {
    flex: max(150px, 100%/2);
    font-size: small;
  }
}
@media (max-width: 320px) {
  .list .news-images {
    flex: max(100px, 100%/2);
    font-size: small;
  }
}


/**************** SECTION PARTY****************************/
.party {
  margin-top: 30px;
  display: flex;
  flex-direction: row;  
}

.party-images{
  display: flex;
  padding: 20px;
  justify-content: center;
  position: relative;
  
}
.partys {
  position: relative;
}
.partys:before {
  content: '';
  position:absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.74) 100%);
  z-index: 1;
}

@media only screen and (max-width: 1024px) {
  .party-images .partys figcaption{
    position: absolute;
    width: 312px;
    height: 94px;
    left: 40px;
    top: 200px; 
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
  }
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 768px) {
  .party {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .party-images .partys figcaption {
    position: absolute;
    width: 312px;
    height: 94px;
    left: 40px;
    top: 200px; 
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
 
  }
}
@media (max-width: 375px) {
  .party-images .partys figcaption {
    position: absolute;
    width: auto;
    height: 94px;
    left: 20px;
    top: 74px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    display: flex;
    align-items: flex-end; 
    color: #FFFFFF;
  }
}

.party-knapp {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-items: center;
  padding: 12px 35px 13px;
  gap: 10px;
  position: absolute;
  width: 126px;
  height: 48px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 42px;
  color: #ffffff;
  left: 80px;
  z-index: 2;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.39) 100%
  );
}
.partys figcaption {
  /* Lorem ipsum dolor sit amet */
position: absolute;
left: 60px;
top: 414px;
font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 62px;
color: #FFFFFF;
z-index: 2;
}

/*************** SECTION INSTAGRAM**************************/
.instagram{
  margin-top: 60px;
  position: relative;
  padding: 20px;
  display: grid;
  gap: 1rem;

}
@media (max-width: 425px) {
.instagram .instagram-title  { 
    width: auto;
    height: 36px;
    font-size: 20px;
   text-align: center;
   left: 19px;
 
   
  }

}
@media screen and (max-width: 600px) {
  .instagram { 
    grid-template-columns: repeat(2, 1fr); 
  }

}
@media (min-width: 768px) {
  .instagram { grid-template-columns: repeat(5, 1fr); }
}
@media (min-width: 900px) {
  .instagram { grid-template-columns: repeat(5, 1fr); }
}

.instagram p {
  /* MoodCompany på Instagram */
  position: absolute;
  width: 378px;
  height: 36px;
  left: 40px;
  top: -35px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #000000;
}
/***************** SECTION EXPERIENCES****************************/
.experiences {
  margin-top: 100px;
  flex-direction: row;
  text-align: center;
  gap: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.experiences-title {
  width: 1360px;
  height: 78px;
  font-weight: 600;
  font-size: 60px;
  color: #000000;
}
.experiences-text {
  width: 500px;
  height: 192px;
  left: 209px;
  margin-top: 10px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: start;
  color: #000000;
}
@media (max-width: 768px) {
.experiences-text{ 
  flex-direction: column; 
  width: 100%;
  height: auto;
  padding: 30px;
  margin-top: auto;
  }
  .experiences-title {
    font-size: 46px;
    justify-content: end;

  }
}

@media (max-width: 425px) {
  .experiences-text{ 
    flex-direction: column; 
    width: 100%;
    height: auto;
    padding: 30px;
    margin-top: 20px;  
}
    .experiences-title {
      font-size: 46px;
      margin-bottom: 50px;
      margin-top: -50px;
    }
}

  /************* SECTION PAYMENTS ****************************/
.payments {
    height: 43px;
    background: #ff9d69;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 80px;
}

@media screen and (max-width: 425px) {
  .payments {
    width: 100%;
    flex-direction: column;
    height: auto;
    gap: 20px;
  }
}

  /* '*****************FOOTER ********************************/
  
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  background: #FF9D69;
  border-top: 1px solid #e5e5e5;
  margin-top: 200px;
}

.footer > * {
  flex:  1 100%;
}

.footer__log{
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
}

.nav__title {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  /* or 186% */
  color: #000000;
}

.legal {
  display: flex;
  flex-wrap: wrap; 
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px; 
  color: #000000;
}
.underline__decoration {
  position: relative;
  color: #000000;
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;

}
.underline__decoration::after {
  content : "";
  position : absolute;
  width : 100%;
  height : 1px;
  background-color: black;
  bottom: 0;
  left: 0;
  top: 0px;
} 
  
@media screen and (max-width: 768px) {
.legal {
    margin-left: auto;
    margin-top: 30px;

  }
 
  .footer__nav ul {
    display: none;
  }
}

@media screen and (min-width: 40.375em) {
  .footer{
    height: auto;
  }
  .footer__nav > * {
    flex: 1;
  }
  
  .footer__log {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}